.nav {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
}
  
a {
      text-decoration: none;
      color:black
}
  
.nav-a {
      padding: 4px 15px;
      border-radius: 8px; 
      text-decoration: none;
      color: #000; 
      transition: all 0.3s ease-in-out; 
}
  
.nav-a:hover {
      background-color: black;
      color: white;
      padding: 4px 10px; 
      border-radius: 8px; 
      border: none; 
}
  