.nav {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:black
}


.nav-a {
    padding: 4px 15px;
    border-radius: 8px; 
    text-decoration: none;
    color: #000; 
    transition: all 0.3s ease-in-out; 
}

.nav-a:hover {
    background-color: black;
    color: white;
    padding: 4px 10px; 
    border-radius: 8px; 
    border: none; 
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-heading {
    z-index: 10;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    max-width: 80%;
    text-align: center;
}

.boy {
    z-index: 0;
    bottom: 0;
    left: -7%;
}

.girl {
    bottom: 0;
    right: -10%;
}
.careers {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    max-width: 70%;
}

.about-heading {
    margin: 20px 0px;
    color: #858585 ;
    font-size: 20px;
    font-weight: 400;
}

.about-hero-heading {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

}

.about-cards {
    margin:100px 0px;
    display: flex;
}

.about-img {
    max-width: 50%;
}

.about-p {
    font-weight: 300;
    padding: 0px 40px;
    width: 50%;
    word-spacing: 2px;
}

.foo {
    border-top: 1px solid #dcdcdc;
    padding: 20px 0px;
}

.heading-c {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

.btn-primary {
    margin: 20px 0px;
    font-weight: 100;
    font-size: 15px;
    background-color: black; 
    border-radius: 8px; 
    padding:6px 20px 6px 20px; 
    color:white; 
    border: none;
}